<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<div id="friends">

</div>
<script src="http://vk.com/js/api/openapi.js"></script>
<body>
    <section class="friends">
        <div class="friends-all">
            <div class="search-bar">
                <input type="text" class="search-bar-all">
            </div>
            <ul class="friends-list friends-list-all">

            </ul>
        </div>
        <div class="friends-favorites">
            <div class="search-bar">
                <input type="text" class="search-bar-favorites">
            </div>
            <ul class="friends-list friends-list-favorites">

            </ul>
        </div>
    </section>
</body>
</html>
